<div id="links">
<form action="say" method="post" id="say">
    <input type="text" name="clip">
    <p><input id="submit" type="submit" value="add new link"></p>
<form>


<h3>Links ready for viewing:</h3>

<div id="clip_boxes"></div>
</div>
